<component name="ArtifactManager">
  <artifact type="war" name="spring-boot-security-saml-sample:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-boot-security-saml-sample-1.0.0.FINAL.war">
      <element id="artifact" artifact-name="spring-boot-security-saml-sample:war exploded" />
    </root>
  </artifact>
</component>